html{
  font-family: 'Lexend Tera', sans-serif;
}
html, body {
    overflow: visible;

}
h2, h1{
  color:#FFFFFF;
  margin: 0;
  padding: 0;
}
h4{

}
b{
	font-family: "Charcoal", sans-serif;
  color: #ffffff;
}
i{
  font-family: "Courier New", monospace;
  color:#afbbc2;
}
body {
  background-color:#181A1F;
  margin: 0;
  font-size: 18px;
  background-color: #181A1F;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.mid1{
  height: auto;
  width: 100%;
  margin: 0;
  background-color: #181A1F;
  color: #FFFFFF;
  padding: 0
}
.top1{
  height: 162px;
  width: 100%;
  margin: auto;
  padding-left:   ;
  padding-right:  ;
  padding-top: 37.8px;
  padding-bottom: 37.8px;
  background-color: #21252B;
  color: #FFFFFF;
  align-self: flex-start;

}
.midshort{
  display: flex;
  flex-flow: row;
  margin: 1%;
  background: #282C34;
  height: 480px;
  width: 98%;
}
.paragraph{
  float: left;
  width: 47%;
  height: 480px;
  margin: 1%;
}
.gold{
  color: #C9B037;
}
.silver{
  color: #d7d7d7;
}
.bronze{
  color: #AD8A56;
}
#s1{

}
#totodile{
  position: left;
  height: 207px;
  width: 207px;
  float: left;
}
#totodiletext{
  align: right;
  width: auto;
  height: auto;
  float: right;
  position: right;
  font-size: 12px;
  margin-right: 1%;
  font-family: "OCR A Std", monospace;
}
#s4{
  align-content: center;
}
#luffyp{
  position: absolute;
  left: -10%;
  top: 10%;
}
#bakugosmash{
  position: right;
  height: 20%;
  width: auto;
  float: right;
}
#bakugotext{
  align: left;
  width: auto;
  height: auto;
  float: left;
  position: left;
  font-size: 12px;
  margin-left: 1%;
  font-family: "OCR A Std", monospace;
}
#sans{
  width: 255px;
  height: 255px;
  transition-duration: 2s;
}
#sans:hover{
  width: 285px;
  transition-duration: 2s;
}
#cat{
  width: 18px;
  height: 18px;
}
#dio{
  width: 383px;
  height: 222px;
  transition-duration: 2s;
}
#dio:hover{
  width: 403px;
  transition-duration: 2s;
}
#rkame{
  width: 30%;
  height: 25%;
}
#lkame{
  width: 42%;
  height: 41%;
}
#s3{
}
#diotext{
  z-index: 1;
  position: absolute;
  top: 135%;
  right: 52%;
  font-size: 13px;
  color: #181A1F;
  transition-duration: 0.3s;
}
#diotext:hover{
  color: #ffffff;
}
#sanstext{
  z-index: 1;
  position: absolute;
  top: 67%;
  right: 4%;
  font-size: 13px;
  color: #181A1F;
  transition-duration: 0.3s;
}
#sanstext:hover{
  color: #ffffff;
}
#narutotext{
  z-index: 1;
  position: absolute;
  top: 210.72%;
  right: 52%;
  font-size: 13px;
  color: #181A1F;
  transition-duration: 0.3s;
}
#narutotext:hover{
  color: #ffffff;
}
#gokutext{
  z-index: 1;
  position: absolute;
  top: 210.72%;
  right: 4%;
  font-size: 13px;
  color: #181A1F;
  transition-duration: 0.3s;
}
#gokutext:hover{
  color: #ffffff;
}
button{
  font-family: "Charcoal", sans-serif;
  background-color: #181A1F;
  color: #afafaf;
  transition-duration: 0.3s;
  border: 1px solid #121212;
}
button:hover{
  background-color: #afafaf;
  color: #181a1f;
  border: 1px solid #121212;
}
#genji{
  height: 207px;
  width: auto;
}
#evo{
  position: relative;
  float: right;
}
#width50{
  width: 99%;
  padding: 1%;
}
#char{
  height: 470px;
}
