html{
  font-family: 'Lexend Tera', sans-serif;
}
h2, h1{
  color:#FFFFFF;
  margin: 0;
  padding: 0;

}
body {
  background-color:#181A1F;
  margin: 0;
  font-size: 18px;
  background-color: #181A1F;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
#container {
  background-color:#21252B;
  width: 1900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

#content {
  padding: 25px;
  margin: 0px;
}

#footer {
  clear: both;
  background-color:#282C34;
  color:#FFFFFF;
  padding: 2px;
}

#nav {
  width: 330px;
  float: left;
  margin-right: 20px;
  margin-top: 0px;
  background-color:#282C34;
}

#header{
  background-color: #282C34;
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}

#main {
  width: 1500px;
  float: right;
  margin-top: 0px;

}

img#wolf {
  position: absolute;
  left: -8%;
}

img#logobleitz, img#logospirekeeper{
  padding: 0;
  margin: 0;
  margin-bottom: 0px;

}
a{
  text-decoration: none;
  color: #FF80AC;
}

#nav.selected{
}


#nav ul{
  list-style-type: none;
  padding: 0;
}

.btn{
  border: 2px solid #6880AC;
  text-transform: uppercase;
  border-radius: 0%;
  padding: 12px 20px;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  transition: color 0.4s linear;
  color: #6880AC;
  position: relative;
  overflow: hidden;
  background: none;
  min-width: 200px;
}
.btn:hover{
  color: #21252B;
}
.btn::before{
  content: "";
  position: absolute;
  left:0;
  top: 0;
  width: 100%;
  height:100%;
  background:#6880AC;
  z-index: -1;
  transition: transform 5s;
  trransform-origin: 0 0;
  transition-timing-function: linear;
  bottom: 0;
  border-radius: 50% 50% 0 0;
  height: 180%;
  transform: scaleY(0);
}

.btn:hover::before{
  transform: scaleY(100);
}





.top{
  height: 255px;
  width: 1920px;
  margin: 0;
  padding-left:   ;
  padding-right:  ;
  padding-top: 75px ;
  padding-bottom: ;
  background-color: #21252B;
  color: #FFFFFF;
  align-self: flex-start;
}
.mid{
  height: auto;
  width: 1920px;
  margin: 0;
  background-color: #181A1F;
  display: flex;
  flex-flow: row;
}
.bot{
  height: 90px;
  width: 1920px;
  margin: 0;
  background-color: #21252B;
  padding: 20px;
  color:#FFFFFF;
  align-self: flex-end;
}
.mid1{
  height: auto;
  width: 1920px;
  margin: 0;
  background-color: #181A1F;
  color: #FFFFFF;
  padding: 0;
}
.top1{
  height: 150px;
  width: 1920px;
  margin: auto;
  padding-left:   ;
  padding-right:  ;
  padding-top: 75px ;
  padding-bottom: ;
  background-color: #21252B;
  color: #FFFFFF;
  align-self: flex-start;
}



.contactleft{
  float: left;
  width: 300px;
  height: auto;
}
.contactright{
  float: right;
  width: 300px;
  height: auto;
}
.contact{
  width: 600px;
  height: auto;
  padding: 10px;
}





.picleft{
  float: left;
  width: 640px;
  height: 620px;
  background-image: url(animejs/img/picleft.png);
  margin: 0;
  opacity: 1;
}
.picmid{
  margin: 0;
  width: 640px;
  height: 620px;
  background-image: url(animejs/img/picmid.png);
  opacity: 1;
}
.picright{
  float: right;
  width: 640px;
  height: 620px;
  background-image: url(animejs/img/pidright.png);
  margin: 0;
  opacity: 1;
}
.picright:hover{
  opacity: 0.4;
  background-image: url(animejs/img/pidrighthover.png);
}
.picmid:hover{
  opacity: 0.4;
  background-image: url(animejs/img/picmidhover.png);
}
.picleft:hover{
  opacity: 0.4;
  background-image: url(animejs/img/piclefthover.png);
}
#p_s{
  float:left;
  opacity: 1;
  margin-left: 40px;
  margin-top: 20px;

}
#p_t{
  margin-right: 40px;
  margin-top: 20px;
  float:right;
  opacity: 1;
}
#p_u{
  margin-left: 40px;
  margin-top: 136px;
  float: left;
  opacity: 1;
  color: #222222;
  height: 472px;
  width: 950px;
}
#p_v{
  margin-right: 40px;
  margin-top: 136px;
  float:right;
  opacity: 1;
  color: #CCCCCC;
  align-self: right;
  align-content: right;
  height: 472px;
  width: 950px;
}
#pvpmoon{
  margin-top: 20px;
  margin-bottom: 20px;
}
#pvpmoon1{
  margin-top: 20px;
  margin-bottom: 20px;
  opacity: 0;
}
.midshort{
  display: flex;
  flex-flow: row;
  margin: 10px;
  background: #282C34;
  height: 472px;
  width: 1900px;
}
#s2{
  background-image: url(animejs/img/bothlogos.png);
}
#s3{
  background-image: url(animejs/img/change_learn.png);
}
.ms{

}
#ms_left{
  margin-left: 155px;
  width: 640px;
  height: 472px;
}
#ms_right{
  margin-left: 309px;
  width: 640px;
  height: 472px;
}
#ms_left1{
  margin-left: 155px;
  width: 640px;
  height: 472px;
}
#ms_right1{
  margin-left: 309px;
  width: 640px;
  height: 472px;
}
